{% extends "fa/base.html" %}

{% block title %}{{ name }} {{ folder }}{% endblock %}
{% block nav_title %}{{ name }}{% endblock %}

{% block style %}
.container-main {
  max-width: 950px;
  padding: 0px 0px;
  width: 100%;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
.card {
  height: 263px;
}
.card .card-image {
  background: black;
  max-height: 200px;
  overflow: hidden;
}
.card .card-image img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.75;
}
@media screen and (min-width: 993px) {
  .card .card-image img {
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.85;
  }
  .card .card-image:hover img {
    opacity: 0.5;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
}
.card .card-image .card-title {
  bottom: auto;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.9);
}
.card .card-action {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
{% endblock %}

{% block content %}
<div class="container container-main row">
{% if gallery %}
{% for image in gallery %}
  <div class="col s6 m4 l3">
    <div class="card">
      <div class="card-image">
        <a href="{% url 'fa.views.submission' image.id %}">
          <img src="{{ image.thumbnail }}">
          <span class="card-title">{{ image.title }}</span>
        </a>
      </div>
      <div class="card-action">
        <a href="{{ image.link }}" target="_blank">View on FA</a>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}
  <p class="col s12 center-align grey-text text-darken-4">No items available.</p>
{% endif %}

  <div class="col s12" style="padding-top:20px;padding-bottom:20px;">
    {% if previous %}<a class="waves-effect waves-light blue-grey darken-3 btn left" href="{% url 'fa.views.gallery' username folder %}?page={{ previous }}"><i class="mdi-navigation-chevron-left left"></i>Newer</a>{% endif %}
    {% if next %}<a class="waves-effect waves-light blue-grey darken-3 btn right" href="{% url 'fa.views.gallery' username folder %}?page={{ next }}"><i class="mdi-navigation-chevron-right right"></i>Older</a>{% endif %}
  </div>
</div>
{% endblock %}
