{% extends "fa/base.html" %}

{% block title %}Index{% endblock %}
{% block default_nav_title %}Index - FAView{% endblock %}
{% block default_nav_items %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="{% url 'fa.views.search' %}">Search</a></li>
</ul>
<ul id="slide-out" class="side-nav">
  <li><a href="{% url 'fa.views.index' %}">Index</a></li>
  <li><a href="{% url 'fa.views.search' %}">Search</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
{% endblock %}

{% block style %}
.container-main {
  max-width: 950px;
  width: 100%;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
{% endblock %}

{% block content %}
<div class="container container-main">
  <h3>Use it just like <a href="http://faexport.boothale.net" target="_blank">FAExport</a>!</h3>

  <h4>/user/<em>{name}</em></h4>
  <p>View a user's profile page.</p>

  <h4>/user/<em>{name}</em></h4>
  <p>General information about a user's account.</p>

  <h4>/user/<em>{name}</em>/watching</h4>
  <p>Accounts that the user is watching.</p>

  <h4>/user/<em>{name}</em>/watchers</h4>
  <p>Accounts that are watching the specified user.</p>

  <h4>/user/<em>{name}</em>/journals</h4>
  <p>Retrieves all journals posted by a user.</p>

  <h4>/user/<em>{name}</em>/<em>{folder}</em></h4>
  <p>Gets the the first few submissions from the specified folder.
  Options for <code>{folder}</code> are <code>gallery</code>, <code>scraps</code> and <code>favorites</code>.
  By default, the first 60 submissions are returned.
  You can pass a parameter <code>?page=2</code> to load more.</p>
  
  <h4>/submission/<em>{id}</em></h4>
  <p>Retrieves information about the submission with the specified id.</p>

  <h4>/journal/<em>{id}</em></h4>
  <p>Retrieves information about the journal with the specified id.</p>

  <h4>/search/</h4>
  <p>Search FA's database.</p>
</div>
{% endblock %}
