{% extends "fa/base.html" %}

{% block title %}{{ journ_data.title }}{% endblock %}
{% block nav_title %}{{ name }}{% endblock %}

{% block style %}
.top-nav {
  margin-bottom: 10px;
}
.brand-logo.truncate {
  max-width: 60%;
}
.container-main {
  padding: 0px 0px;
  width: 100%;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
@media screen and (min-width: 993px) {
  .container-main {
    width: 90%;
    max-width: 1200px;
  }
}
.collection .collection-item.avatar {
  height: auto;
  min-height: 144px;
  padding-left: 140px;
}
@media screen and (max-width : 600px) {
  .collection .collection-item.avatar {
    padding-left: 20px;
  }
}
.collection .collection-item.avatar .circle {
  width: 100px;
  height: 100px;
  top: 22px;
}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 z-depth-1">
    <div class="container-main" style="margin:auto;">
      <h2 class="header">{{ journ_data.title }}</h2>
      <h5 class="grey-text text-lighten-1" title="{{ journ_data.posted }}">submitted {{ journ_data.delta }}</h5>
      <p class="flow-text grey-text text-darken-3 lighten-3">{{ journ_data.description|safe }}</p>
    </div>
  </div>
</div>

<div class="container container-main">
{% if comments %}
  <ul class="collection z-depth-1">
  {% for comment in comments %}
    <li class="collection-item avatar">
      <img src="{{ comment.avatar }}" class="circle hide-on-small-only" title="{{ comment.name }}">
      <span class="title flow-text"><a href="{% url 'fa.views.user' comment.username %}">{{ comment.name }}</a></span>
      <p class="grey-text text-lighten-1" title="{{ comment.posted }}">{{ comment.delta }}</p>
      <p class="flow-text grey-text text-darken-2">{{ comment.text|safe }}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
<p class="col s12 center-align black-text">This entry doesn't have any comments.</p>
{% endif %}
</div>
{% endblock %}
