{% extends "fa/base.html" %}

{% block title %}{{ name }} journals{% endblock %}
{% block nav_title %}{{ name }}{% endblock %}

{% block style %}
.top-nav {
  margin-bottom: 10px;
}
.brand-logo.truncate {
  max-width: 60%;
}
.container-main {
  padding: 0px 0px;
  width: 100%;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
.profile-link {
  padding: 10px;
}
h5 {
  margin-bottom: 0px;
}
{% endblock %}

{% block content %}
<div class="container container-main row">
{% if journals %}
  <div class="collection">
  {% for journal in journals %}
    <a class="collection-item" href="{% url 'fa.views.journal' journal.id %}">
      <h5 class="grey-text text-darken-2">{{ journal.title }}</h5>
      <h6 class="grey-text text-lighten-1">{{ journal.delta }}</h6>
    </a>
  {% endfor %}
  </div>
  {% else %}
  <p class="col s12 center-align black-text">This user hasn't posted any journals.</p>
  {% endif %}
</div>
{% endblock %}
