{% extends "fa/base.html" %}

{% block title %}Search{% endblock %}
{% block default_nav_href %}{% url 'fa.views.search' %}{% endblock %}
{% block default_nav_title %}Search - FAView{% endblock %}
{% block default_nav_items %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="{% url 'fa.views.index' %}">Index</a></li>
</ul>
<ul id="slide-out" class="side-nav">
  <li><a href="{% url 'fa.views.index' %}">Index</a></li>
  <li><a href="{% url 'fa.views.search' %}">Search</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
{% endblock %}

{% block style %}
.container-main {
  max-width: 950px;
  padding: 0px 0px;
  width: 100%;
}
.input-field .search-input {
  width: -moz-calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
}
.input-field .search-button {
  width: 80px;
  height: 44px;
  line-height: 46px;
}
[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #37474f;
  background-color: #37474f;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
.card {
  height: 263px;
}
.card .card-image {
  background: black;
  max-height: 200px;
  overflow: hidden;
}
.card .card-image img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.75;
}
@media screen and (min-width: 993px) {
  .card .card-image img {
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.85;
  }
  .card .card-image:hover img {
    opacity: 0.5;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
}
.card .card-image .card-title {
  bottom: auto;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.9);
}
.card .card-action {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
{% endblock %}

{% block content %}
<div class="row z-depth-1">
  <div class="container container-main">
    <form class="col s12" style="padding:15px 0px;" method="get" action="{% url 'fa.views.search' %}">
    {% if form.errors %}
      <div class="col s12 red-text">
      {{ form.non_field_errors }}
      {% for field in form %}{% if field.errors %}{{ field.label }}: {{ field.errors }}{% endif %}{% endfor %}
      </div>
    {% endif %}
      <div class="input-field col s12">
        {{ form.q }}{{ form.q.label_tag }}
        <button class="btn waves-effect waves-light blue-grey darken-3 right search-button" type="submit"><i class="mdi-action-search"></i></button>
      </div>
      <div class="input-field col s6 m4">{{ form.perpage }}{{ form.perpage.label_tag }}</div>
      <div class="input-field col s6 m4">{{ form.order_by }}{{ form.order_by.label_tag }}</div>
      <div class="input-field col s6 m4">{{ form.order_direction }}{{ form.order_direction.label_tag }}</div>
      <div class="input-field col s6 m6">{{ form.range }}{{ form.range.label_tag }}</div>
      <div class="input-field col s6 m6">{{ form.mode }}{{ form.mode.label_tag }}</div>
      <div class="col s12"><h6 class="grey-text">{{ form.rating.label }}</h6></div>
    {% for rating in form.rating %}
      <div class="col s6 m4">{{ rating.tag }}<label for="id_rating_{{ forloop.counter0 }}">{{ rating.choice_label }}</label></div>
    {% endfor %}
      <div class="col s12"><h6 class="grey-text">{{ form.type.label }}</h6></div>
    {% for type in form.type %}
      <div class="col s6 m4">{{ type.tag }}<label for="id_type_{{ forloop.counter0 }}">{{ type.choice_label }}</label></div>
    {% endfor %}
    </form>
  </div>
</div>

<div class="container container-main row">
{% for image in gallery %}
  <div class="col s6 m4 l3">
    <div class="card">
      <div class="card-image">
        <a href="{% url 'fa.views.submission' image.id %}">
          <img src="{{ image.thumbnail }}">
          <span class="card-title">{{ image.title }}</span>
        </a>
      </div>
      <div class="card-action">
        <a href="{{ image.link }}" target="_blank">View on FA</a>
      </div>
    </div>
  </div>
{% endfor %}

{% if form.q.value and not gallery %}
  <p class="col s12 center-align grey-text text-darken-4">No items available.</p>
{% endif %}

  <div class="col s12" style="padding-top:20px;padding-bottom:20px;">
    {% if previous %}<a class="waves-effect waves-light blue-grey darken-3 btn left col s5 m3 l2" href="{% url 'fa.views.search' %}?{{ previous }}"><i class="mdi-navigation-chevron-left left"></i>Newer</a>{% endif %}
    {% if next %}<a class="waves-effect waves-light blue-grey darken-3 btn right col s5 m3 l2" href="{% url 'fa.views.search' %}?{{ next }}"><i class="mdi-navigation-chevron-right right"></i>Older</a>{% endif %}
  </div>
</div>
{% endblock %}
