{% extends "fa/base.html" %}

{% block title %}{{ sub_data.title }}{% endblock %}
{% block nav_title %}{{ name }}{% endblock %}

{% block script %}
<script>
// jQuery visible (https://github.com/customd/jquery-visible)
;(function(e){e.fn.visible=function(t,n,r){var i=e(this).eq(0),s=i.get(0),o=e(window),u=o.scrollTop(),a=u+o.height(),f=o.scrollLeft(),l=f+o.width(),c=i.offset().top,h=c+i.height(),p=i.offset().left,d=p+i.width(),v=t===true?h:c,m=t===true?c:h,g=t===true?d:p,y=t===true?p:d,b=n===true?s.offsetWidth*s.offsetHeight:true,r=r?r:"both";if(r==="both")return!!b&&m<=a&&v>=u&&y<=l&&g>=f;else if(r==="vertical")return!!b&&m<=a&&v>=u;else if(r==="horizontal")return!!b&&y<=l&&g>=f}})(jQuery);

$(function(){
  function quote(target, parent, tmp) {
    var blockquote = $('<blockquote>').html(target.html());
    blockquote.find('img').remove();
    blockquote.find('blockquote').remove();
    blockquote.find('a.grey-text.text-darken-2').remove();
    if(tmp) blockquote.addClass('tmp');
    parent.append(blockquote);
  }

  $('.collection-item').on('click', '.red-text[href^=#]', function(event){
    event.preventDefault();
    var parent = $(this).parent();
    var blockquote = parent.find('blockquote');
    if(blockquote.length > 0) {
      if(blockquote.hasClass('tmp'))
        blockquote.removeClass('tmp');
      else
        blockquote.remove();
    } else {
      quote($($(this).attr('href')), parent, false);
    }
  });
  if(!("ontouchstart" in document.documentElement)) {
    $('.collection-item').on('mouseenter', '.red-text[href^=#]', function(){
      var target = $($(this).attr('href'));
      var parent = $(this).parent();
      target.addClass('blue-grey').addClass('lighten-5');
      if(!target.visible() && !parent.find('blockquote').length) {
        quote(target, parent, true);
      }
    });
    $('.collection-item').on('mouseleave', '.red-text[href^=#]', function(){
      $($(this).attr('href')).removeClass('blue-grey').removeClass('lighten-5');
      $(this).parent().find('.tmp').remove();
    });
  }
});
</script>
{% endblock %}

{% block style %}
.top-nav {
  margin-bottom: 10px;
}
.container-main {
  max-width: 1200px;
  padding: 0px 0px;
  width: 100%;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
@media screen and (max-width : 600px) {
  .row .art-content {
    padding: 0px;
  }
}
.img-responsive {
  max-width: 100%;
}
.collection .collection-item.avatar {
  height: auto;
  min-height: 144px;
  padding-left: 140px;
}
@media screen and (max-width : 600px) {
  .collection .collection-item.avatar {
    padding-left: 20px;
  }
}
.collection .collection-item.avatar .circle {
  width: 100px;
  height: 100px;
  top: 22px;
}
blockquote {
  border-left: 5px solid #263238;
}
.collapsible .collapsible-header {
  height: auto;
}
.collapsible .collapsible-header i {
  margin-top: -3px;
}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 art-content">
    <div class="center-align">
      <a href="{{ sub_data.download }}">
        <img class="img-responsive z-depth-1" src="{{ sub_data.full }}">
      </a>
    </div>
  {% if sub_data.text_content %}
    <div class="container-main" style="margin:auto;">
      <p class="col s12 flow-text grey-text text-darken-4">{{ sub_data.text_content|safe }}</p>
    </div>
  {% elif sub_data.audio_content %}
    <div class="center-align" style="margin-top:10px;">
      <audio controls>
        <source src="{{ sub_data.audio_content }}" type="audio/{{ sub_data.audio_type }}">
      </audio>
    </div>
  {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12 z-depth-1">
    <div class="container-main" style="margin:auto;">
      <h2 class="header">{{ sub_data.title }}</h2>
      <h5 class="grey-text" title="{{ sub_data.posted }}">submitted {{ sub_data.delta }}</h5>
      <p class="flow-text grey-text text-darken-4">{{ sub_data.description|safe }}</p>
    </div>
  </div>
</div>

<div class="container container-main">
  <ul class="collapsible z-depth-1" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h4><i class="large mdi-navigation-more-vert right"></i>More information</h4></div>
      <div class="collapsible-body">
        <p class="flow-text">
        {% for key, value in sub_data.stats %}
          <strong>{{ key }}</strong>&nbsp;<em style="float:right;">{{ value }}</em><br>
        {% endfor %}
        </p>
      </div>
    </li>
  </ul>
{% if comments %}
  <ul class="collection z-depth-1">
  {% for comment in comments %}
    <li class="collection-item avatar" id="{{ comment.id }}">
      <img src="{{ comment.avatar }}" class="circle hide-on-small-only" title="{{ comment.name }}">
      <span class="title flow-text">
        <a href="{% url 'fa.views.user' comment.username %}">{{ comment.name }}</a>
        <span class="grey-text" title="{{ comment.posted }}">{{ comment.delta }}</span>
        <span class="grey-text text-darken-2" style="float:right;"><a class="grey-text text-darken-2" href="#{{ comment.id }}">No.&nbsp;{{ comment.id }}</a></span>
      </span>
      {% if comment.reply_to %}<p><a class="red-text text-lighten-1" href="#{{ comment.reply_to }}">>>{{ comment.reply_to }}</a></p>{% endif %}
      <p class="flow-text grey-text text-darken-4">{{ comment.text|safe }}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p class="col s12 center-align black-text">This entry doesn't have any comments.</p>
{% endif %}
</div>
{% endblock %}
