{% extends "fa/base.html" %}

{% block title %}{{ name }} {{ view }}{% endblock %}
{% block nav_title %}{{ name }}{% endblock %}

{% block style %}

{% load staticfiles %}
.top-nav {
  margin-bottom: 10px;
}
.container-main {
  max-width: 950px;
  padding: 0px 0px;
  width: 100%;
}
@media screen and (min-width : 601px) {
  .container-main {
    width: 90%;
  }
}
.profile-link {
  padding: 10px;
}
{% endblock %}

{% block content %}
<div class="container container-main center-align row">
  <h4 class="col s12">{{ head }}</h4>

  <div class="col s12 flow-text">
  {% for user, id in watchs %}
    <a class="profile-link" href="{% url 'fa.views.user' id %}">{{ user }}</a>
  {% endfor %}
  </div>
{% if not watchs %}
  <p class="col s12 center-align black-text">No items available.</p>
{% endif %}
  <div class="col s12" style="padding-top:20px;padding-bottom:20px;">
    {% if previous %}<a class="waves-effect waves-light blue-grey darken-3 btn left" href="{% url 'fa.views.watch' username view %}?page={{ previous }}"><i class="mdi-navigation-chevron-left left"></i>Previous</a>{% endif %}
    {% if next %}<a class="waves-effect waves-light blue-grey darken-3 btn right" href="{% url 'fa.views.watch' username view %}?page={{ next }}"><i class="mdi-navigation-chevron-right right"></i>Next</a>{% endif %}
  </div>
</div>
{% endblock %}
